extends layout

block content
  h1 Account Page
  div
    h3 #{user.displayName}
    h3 #{user.firstName}
    h3 #{user.surname}
    h3 #{user.upn}
    h3 #{user.team}
    h3 #{user.org}
    h3 #{user.department}
    h3 #{user.jobTitle}
    h3 #{user.projects}
